
<h1>Formulario formato Rails</h1>
<br>

<%=form_with model: @post, method: :post do |form| %>

    <div>
        <%= form.label :title, "Titulo del Post ", class:"form-label" %>
        <%= form.text_field :title, class:"form-control" %>

    </div>


    <div>
    <%= form.label :content, "Contenido Post ", class:"form-label" %>
    <%= form.text_field :content, class:"form-control" %>

</div>

<br>
<%= form.submit %>


<% end %>    
